In [2]:
import pandas as pd

In [3]:
s1 = pd.Series([10, 20, 30], index=[1, 2, 2])
s2 = pd.Series([35, 44, 53], index=[2, 2, 4], name='s2')

In [4]:
s1

1    10
2    20
2    30
dtype: int64

In [5]:
s2

2    35
2    44
4    53
Name: s2, dtype: int64

In [6]:
s1 + s2

1     NaN
2    55.0
2    64.0
2    65.0
2    74.0
4     NaN
dtype: float64

In [7]:
s1.add(s2, fill_value=0)

1    10.0
2    55.0
2    64.0
2    65.0
2    74.0
4    53.0
dtype: float64

In [8]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url)
city_mpg = df.city08
highway_mpg = df.highway08

/var/folders/zb/q9qkgfn532d16rb29bt1s55h0000gn/T/ipykernel_17353/2502561447.py:2: DtypeWarning: Columns (68,70,71,72,73,74,76,79) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(url)

In [9]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [10]:
highway_mpg

0        25
1        14
2        33
3        12
4        23
         ..
41139    26
41140    28
41141    24
41142    24
41143    21
Name: highway08, Length: 41144, dtype: int64

In [11]:
len(dir(city_mpg))

421

In [12]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64

In [13]:
city_mpg.loc[20]

14

In [14]:
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: float64

In [15]:
(city_mpg
 .gt(20)
 .mean()
)

0.24965973167412017

In [16]:
city_mpg.agg(['mean', 'std', 'min', 'max', 'kurt', 'skew'], axis=0)

mean     18.369045
std       7.905886
min       6.000000
max     150.000000
kurt     91.902168
skew      7.705198
Name: city08, dtype: float64

In [17]:
city_mpg.corr(highway_mpg)

0.9393654130640557

In [18]:
print(highway_mpg.index.equals(city_mpg.index))
print(highway_mpg.index == city_mpg.index)

True
[ True  True  True ...  True  True  True]

In [20]:
sample_index = highway_mpg.sample(frac=0.01).index

In [21]:
highway_mpg.loc[sample_index] = None

/var/folders/zb/q9qkgfn532d16rb29bt1s55h0000gn/T/ipykernel_17353/17459400.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  highway_mpg.loc[sample_index] = None

In [22]:
city_mpg.convert_dtypes()

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: Int64

In [23]:
make = df.make

In [24]:
print(make.nbytes)
print(make.memory_usage())
print(make.memory_usage(deep=True))

329152
329284
2277247

In [25]:
(make
 .astype('category')
 .memory_usage(deep=True)
)

94804

In [26]:
94804 / 2277247

0.0416309693239249

In [27]:
values = pd.Series(sorted(set(city_mpg)))
city_type = pd.CategoricalDtype(categories=values, ordered=True)

In [28]:
city_type.__dict__['_categories'].values

array([  6,   7,   8,   9,  10,  11,  12,  13,  14,  15,  16,  17,  18,
        19,  20,  21,  22,  23,  24,  25,  26,  27,  28,  29,  30,  31,
        32,  33,  34,  35,  36,  37,  38,  39,  40,  41,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  57,  58,
        59,  60,  61,  62,  73,  74,  77,  78,  79,  80,  81,  83,  84,
        85,  86,  87,  88,  89,  90,  91,  92,  93,  94,  95,  97,  98,
       101, 102, 104, 106, 107, 110, 112, 114, 115, 118, 120, 121, 122,
       123, 124, 125, 126, 127, 128, 129, 131, 132, 136, 137, 138, 140,
       150])

In [29]:
city_df = city_mpg.to_frame()

In [30]:
def gt20(val):
    return val > 20

In [31]:
%%timeit

city_mpg.apply(gt20)

2.89 ms ± 59.4 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [32]:
%%timeit

city_mpg.gt(20)

17.1 µs ± 139 ns per loop (mean ± std. dev. of 7 runs, 100,000 loops each)

In [33]:
make.value_counts()

make
Chevrolet                      4003
Ford                           3371
Dodge                          2583
GMC                            2494
Toyota                         2071
                               ...
Volga Associated Automobile       1
Panos                             1
Mahindra                          1
Excalibur Autos                   1
London Coach Co Inc               1
Name: count, Length: 136, dtype: int64

In [ ]:
float_vals = [1.5, 2.7, 127.0]
float_missing = [None, 1.5, -45.0]
float_rain = [1.5, 2.7, 0.0, 'T', 1.5, 0]

In [ ]:
pd.Series(float_vals)

0      1.5
1      2.7
2    127.0
dtype: float64

In [ ]:
pd.Series(float_missing)

0     NaN
1     1.5
2   -45.0
dtype: float64

In [ ]:
pd.Series(float_vals, dtype='float64[pyarrow]')

0      1.5
1      2.7
2    127.0
dtype: double[pyarrow]

In [ ]:
pd.Series(float_missing, dtype='float64[pyarrow]')

0    <NA>
1     1.5
2   -45.0
dtype: double[pyarrow]

In [ ]:
pd.Series(float_rain)

0    1.5
1    2.7
2    0.0
3      T
4    1.5
5      0
dtype: object

In [ ]:
pd.Series(float_rain).replace('T', '0.0').astype('float64')

0    1.5
1    2.7
2    0.0
3    0.0
4    1.5
5    0.0
dtype: float64

In [ ]:
pd.Series(float_rain).replace('T', 0).astype('float64[pyarrow]')

/var/folders/zb/q9qkgfn532d16rb29bt1s55h0000gn/T/ipykernel_7454/2912682391.py:1: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  pd.Series(float_rain).replace('T', 0).astype('float64[pyarrow]')

0    1.5
1    2.7
2    0.0
3    0.0
4    1.5
5    0.0
dtype: double[pyarrow]

In [34]:
import pyarrow as pa

string_pa = pd.ArrowDtype(pa.string())

In [ ]:
text_freeform = ['My name is Jeff', 'I like pandas', 'I like programming']
text_with_missing = ['My name is Jeff', None, 'I like programming']

In [ ]:
pd.Series(text_freeform)

0       My name is Jeff
1         I like pandas
2    I like programming
dtype: object

In [ ]:
pd.Series(text_with_missing)

0       My name is Jeff
1                  None
2    I like programming
dtype: object

In [ ]:
tf1 = pd.Series(text_freeform, dtype=string_pa)
tf1

0       My name is Jeff
1         I like pandas
2    I like programming
dtype: string[pyarrow]

In [ ]:
tf2 = pd.Series(text_freeform, dtype='string[pyarrow]')
tf2

0       My name is Jeff
1         I like pandas
2    I like programming
dtype: string

In [ ]:
tf1.dtype == tf2.dtype

False

In [ ]:
pd.Series(text_with_missing, dtype='string[pyarrow]')

0       My name is Jeff
1                  <NA>
2    I like programming
dtype: string

In [ ]:
pd.Series(text_with_missing, dtype=string_pa)

0       My name is Jeff
1                  <NA>
2    I like programming
dtype: string[pyarrow]

In [ ]:
months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
pd.Series(months, dtype='category').sort_values()

3     Apr
7     Aug
11    Dec
1     Feb
0     Jan
6     Jul
5     Jun
2     Mar
4     May
10    Nov
9     Oct
8     Sep
dtype: category
Categories (12, object): ['Apr', 'Aug', 'Dec', 'Feb', ..., 'May', 'Nov', 'Oct', 'Sep']

In [ ]:

month_cat = pd.CategoricalDtype(categories=months, ordered=True)
pd.Series(months, dtype=month_cat).sort_values()

0     Jan
1     Feb
2     Mar
3     Apr
4     May
5     Jun
6     Jul
7     Aug
8     Sep
9     Oct
10    Nov
11    Dec
dtype: category
Categories (12, object): ['Jan' < 'Feb' < 'Mar' < 'Apr' ... 'Sep' < 'Oct' < 'Nov' < 'Dec']

In [ ]:
import datetime as dt

dt_list = [dt.datetime(2020, 1, 1, 4, 30), dt.datetime(2020, 1, 2), dt.datetime(2020, 1, 3)]
string_dates = ['2020-01-01 04:30:00', '2020-01-02 00:00:00', '2020-01-03 00:00:00']
string_dates_missing = ['2020-01-01 04:30', None, '2020-01-03']
epoch_dates = [1577836800, 1577923200, 1578009600]

In [ ]:
pd.Series(dt_list)

0   2020-01-01 04:30:00
1   2020-01-02 00:00:00
2   2020-01-03 00:00:00
dtype: datetime64[ns]

In [ ]:
pd.Series(string_dates, dtype='datetime64[ns]')

0   2020-01-01 04:30:00
1   2020-01-02 00:00:00
2   2020-01-03 00:00:00
dtype: datetime64[ns]

In [ ]:
pd.Series(string_dates_missing, dtype='datetime64[ns]')

0   2020-01-01 04:30:00
1                   NaT
2   2020-01-03 00:00:00
dtype: datetime64[ns]

In [ ]:
# using the 'ns' for nanoseconds gives us erroneous results
pd.Series(epoch_dates, dtype='datetime64[ns]')

0   1970-01-01 00:00:01.577836800
1   1970-01-01 00:00:01.577923200
2   1970-01-01 00:00:01.578009600
dtype: datetime64[ns]

In [ ]:
pd.Series(epoch_dates, dtype='datetime64[s]')

0   2020-01-01
1   2020-01-02
2   2020-01-03
dtype: datetime64[s]

In [ ]:
pd.Series(dt_list, dtype='timestamp[ns][pyarrow]')

0    2020-01-01 04:30:00
1    2020-01-02 00:00:00
2    2020-01-03 00:00:00
dtype: timestamp[ns][pyarrow]

In [ ]:
pd.Series(string_dates, dtype='timestamp[ns][pyarrow]')

0    2020-01-01 04:30:00
1    2020-01-02 00:00:00
2    2020-01-03 00:00:00
dtype: timestamp[ns][pyarrow]

In [ ]:
pd.Series(epoch_dates, dtype='timestamp[s][pyarrow]')

0    2020-01-01 00:00:00
1    2020-01-02 00:00:00
2    2020-01-03 00:00:00
dtype: timestamp[s][pyarrow]