# Chapter 6 - Series Introduction

In [168]:
import pandas as pd

songs2 = pd.Series([145, 142, 38, 13], name='counts')
songs2

0    145
1    142
2     38
3     13
Name: counts, dtype: int64

In [169]:
# use pyarrow backend
songs3 = pd.Series([145, 142, 38, 13],
                   name='counts',
                   index=['Paul', 'John', 'George', 'Ringo'],
                   dtype='int64[pyarrow]')
songs3

Paul      145
John      142
George     38
Ringo      13
Name: counts, dtype: int64[pyarrow]

In [170]:
songs2.index

RangeIndex(start=0, stop=4, step=1)

In [171]:
songs3.index

Index(['Paul', 'John', 'George', 'Ringo'], dtype='object')

In [172]:
import numpy as np

nan_series = pd.Series([2, np.nan], index = ['Ono', 'Clapton'])
nan_series

Ono        2.0
Clapton    NaN
dtype: float64

In [173]:
nan_series2 = pd.Series([2, np.nan], index = ['Ono', 'Clapton'], dtype='int64[pyarrow]')
nan_series2

Ono           2
Clapton    <NA>
dtype: int64[pyarrow]

In [174]:
nan_series2.count()

1

In [175]:
nan_series2.size

2

In [176]:
numpy_ser = np.array([145, 142, 38, 13])
songs3.iloc[1]

142

In [177]:
numpy_ser[1]

142

In [178]:
songs3.mean()

84.5

In [179]:
numpy_ser.mean()

84.5

In [180]:
len(set(dir(numpy_ser)) & set(dir(songs3)))

112

In [181]:
mask = songs3 > songs3.median()
mask

Paul       True
John       True
George    False
Ringo     False
Name: counts, dtype: bool[pyarrow]

In [182]:
songs3[mask]

Paul    145
John    142
Name: counts, dtype: int64[pyarrow]

# Chapter 7 - Series Deep Dive

In [183]:
import pandas as pd

url = 'https://github.com/mattharrison/datasets/raw/master/data/vehicles.csv.zip'
df = pd.read_csv(url, dtype_backend='pyarrow', engine='pyarrow')

In [184]:
city_mpg = df.city08
highway_mpg = df.highway08

In [185]:
(city_mpg + highway_mpg) / 2

0        22.0
1        11.5
2        28.0
3        11.0
4        20.0
         ...
41139    22.5
41140    24.0
41141    21.0
41142    21.0
41143    18.5
Length: 41144, dtype: double[pyarrow]

In [186]:
# city_mpg.mean()
# city_mpg.is_unique
# city_mpg.is_monotonic_increasing
city_mpg.quantile([.1, .5, .9])

0.1    13.0
0.5    17.0
0.9    24.0
Name: city08, dtype: double[pyarrow]

In [187]:
city_mpg.gt(20).sum()

10272

In [188]:
city_mpg.gt(20).astype('bool').mul(100).mean() # series of type bool[pyarrow] doesn't have .mul operator

24.965973167412017

In [189]:
city_mpg.astype('int16[pyarrow]')
# city_mpg.astype('int8[pyarrow]')

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int16[pyarrow]

# Chapter 11 - Manipulation Methods

In [190]:
make = df.make
make

0        Alfa Romeo
1           Ferrari
2             Dodge
3             Dodge
4            Subaru
            ...
41139        Subaru
41140        Subaru
41141        Subaru
41142        Subaru
41143        Subaru
Name: make, Length: 41144, dtype: string[pyarrow]

In [191]:
make.value_counts()

make
Chevrolet                           4003
Ford                                3371
Dodge                               2583
GMC                                 2494
Toyota                              2071
                                    ...
Grumman Allied Industries              1
Environmental Rsch and Devp Corp       1
General Motors                         1
Goldacre                               1
Isis Imports Ltd                       1
Name: count, Length: 136, dtype: int64[pyarrow]

In [192]:
top5 = make.value_counts().index[:5]
top5

Index(['Chevrolet', 'Ford', 'Dodge', 'GMC', 'Toyota'], dtype='string[pyarrow]', name='make')

In [193]:
def generalize_top5(val):
    if val in top5:
        return val
    else:
        return 'Other'

In [194]:
make.apply(generalize_top5)

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: object

In [195]:
make.where(make.isin(top5), 'Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [196]:
make.where(make.isin(top5))

0         <NA>
1         <NA>
2        Dodge
3        Dodge
4         <NA>
         ...
41139     <NA>
41140     <NA>
41141     <NA>
41142     <NA>
41143     <NA>
Name: make, Length: 41144, dtype: string[pyarrow]

In [197]:
make.mask(~make.isin(top5), 'Other')

0        Other
1        Other
2        Dodge
3        Dodge
4        Other
         ...
41139    Other
41140    Other
41141    Other
41142    Other
41143    Other
Name: make, Length: 41144, dtype: string[pyarrow]

In [198]:
%%timeit
make.apply(generalize_top5)

22.3 ms ± 164 µs per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [199]:
%%timeit
make.where(make.isin(top5), 'Other')

850 µs ± 6.91 µs per loop (mean ± std. dev. of 7 runs, 1,000 loops each)

In [200]:
cyl = df.cylinders
missing = cyl.isna()
missing

0        False
1        False
2        False
3        False
4        False
         ...
41139    False
41140    False
41141    False
41142    False
41143    False
Name: cylinders, Length: 41144, dtype: bool

In [201]:
make.loc[missing]
make[missing]

7138     Nissan
7139     Toyota
8143     Toyota
8144       Ford
8146       Ford
          ...
34563     Tesla
34564     Tesla
34565     Tesla
34566     Tesla
34567     Tesla
Name: make, Length: 206, dtype: string[pyarrow]

In [202]:
temp = pd.Series([32, 40, None, 42, 39, 32], dtype='float[pyarrow]')
temp

0    32.0
1    40.0
2    <NA>
3    42.0
4    39.0
5    32.0
dtype: float[pyarrow]

In [203]:
temp.interpolate()

0    32.0
1    40.0
2    41.0
3    42.0
4    39.0
5    32.0
dtype: float[pyarrow]

# Chapter 12 - Indexing Operations

In [204]:
make.to_dict()

{0: 'Alfa Romeo',
 1: 'Ferrari',
 2: 'Dodge',
 3: 'Dodge',
 4: 'Subaru',
 5: 'Subaru',
 6: 'Subaru',
 7: 'Toyota',
 8: 'Toyota',
 9: 'Toyota',
 10: 'Toyota',
 11: 'Volkswagen',
 12: 'Volkswagen',
 13: 'Volkswagen',
 14: 'Dodge',
 15: 'Volkswagen',
 16: 'Volvo',
 17: 'Volvo',
 18: 'Audi',
 19: 'Audi',
 20: 'BMW',
 21: 'BMW',
 22: 'BMW',
 23: 'Buick',
 24: 'Buick',
 25: 'Dodge',
 26: 'Buick',
 27: 'Buick',
 28: 'Buick',
 29: 'Buick',
 30: 'Buick',
 31: 'Cadillac',
 32: 'Cadillac',
 33: 'Cadillac',
 34: 'Cadillac',
 35: 'Chevrolet',
 36: 'Dodge',
 37: 'Chevrolet',
 38: 'Chevrolet',
 39: 'Chevrolet',
 40: 'Chevrolet',
 41: 'Chrysler',
 42: 'CX Automotive',
 43: 'CX Automotive',
 44: 'Nissan',
 45: 'Nissan',
 46: 'Nissan',
 47: 'Dodge',
 48: 'Dodge',
 49: 'Dodge',
 50: 'Dodge',
 51: 'Dodge',
 52: 'Dodge',
 53: 'Dodge',
 54: 'Dodge',
 55: 'Dodge',
 56: 'Ford',
 57: 'Ford',
 58: 'Dodge',
 59: 'Ford',
 60: 'Ford',
 61: 'Ford',
 62: 'Ford',
 63: 'Ford',
 64: 'Hyundai',
 65: 'Hyundai',
 66: 'Hyundai',
 67: 'Infiniti',
 68: 'Infiniti',
 69: 'Dodge',
 70: 'Lexus',
 71: 'Mercury',
 72: 'Mercury',
 73: 'Mercury',
 74: 'Mercury',
 75: 'Mazda',
 76: 'Mazda',
 77: 'Mazda',
 78: 'Mazda',
 79: 'Mazda',
 80: 'Dodge',
 81: 'Oldsmobile',
 82: 'Oldsmobile',
 83: 'Oldsmobile',
 84: 'Oldsmobile',
 85: 'Oldsmobile',
 86: 'Oldsmobile',
 87: 'Oldsmobile',
 88: 'Oldsmobile',
 89: 'Plymouth',
 90: 'Plymouth',
 91: 'Ford',
 92: 'Plymouth',
 93: 'Plymouth',
 94: 'Plymouth',
 95: 'Pontiac',
 96: 'Pontiac',
 97: 'Pontiac',
 98: 'Pontiac',
 99: 'Rolls-Royce',
 100: 'Rolls-Royce',
 101: 'Rolls-Royce',
 102: 'Ford',
 103: 'Toyota',
 104: 'Toyota',
 105: 'Toyota',
 106: 'Toyota',
 107: 'Volkswagen',
 108: 'Volkswagen',
 109: 'Volkswagen',
 110: 'Volkswagen',
 111: 'Volvo',
 112: 'Volvo',
 113: 'Dodge',
 114: 'Ford',
 115: 'Volvo',
 116: 'Volvo',
 117: 'Volvo',
 118: 'Buick',
 119: 'Buick',
 120: 'Buick',
 121: 'Buick',
 122: 'Cadillac',
 123: 'Cadillac',
 124: 'Chevrolet',
 125: 'Ford',
 126: 'Chevrolet',
 127: 'Chevrolet',
 128: 'Chrysler',
 129: 'Chrysler',
 130: 'Chrysler',
 131: 'Chrysler',
 132: 'Dodge',
 133: 'Dodge',
 134: 'Eagle',
 135: 'Eagle',
 136: 'Ford',
 137: 'Ford',
 138: 'Lincoln',
 139: 'Mercury',
 140: 'Lincoln',
 141: 'Mercedes-Benz',
 142: 'Mercedes-Benz',
 143: 'Mercedes-Benz',
 144: 'Mercedes-Benz',
 145: 'Oldsmobile',
 146: 'Oldsmobile',
 147: 'GMC',
 148: 'Oldsmobile',
 149: 'Pontiac',
 150: 'Pontiac',
 151: 'Rolls-Royce',
 152: 'Saab',
 153: 'Saab',
 154: 'Saab',
 155: 'Saab',
 156: 'Audi',
 157: 'BMW',
 158: 'GMC',
 159: 'Chevrolet',
 160: 'Chevrolet',
 161: 'CX Automotive',
 162: 'Ford',
 163: 'Ford',
 164: 'Honda',
 165: 'Honda',
 166: 'Mercury',
 167: 'Mercury',
 168: 'Saturn',
 169: 'GMC',
 170: 'Saturn',
 171: 'Saturn',
 172: 'Saturn',
 173: 'Subaru',
 174: 'Subaru',
 175: 'Subaru',
 176: 'Subaru',
 177: 'Subaru',
 178: 'Subaru',
 179: 'Subaru',
 180: 'GMC',
 181: 'Toyota',
 182: 'Toyota',
 183: 'Buick',
 184: 'Buick',
 185: 'Buick',
 186: 'Eagle',
 187: 'Eagle',
 188: 'Eagle',
 189: 'Eagle',
 190: 'Eagle',
 191: 'GMC',
 192: 'Eagle',
 193: 'Eagle',
 194: 'Eagle',
 195: 'Ford',
 196: 'Ford',
 197: 'Mercury',
 198: 'Mercury',
 199: 'Mitsubishi',
 200: 'Mitsubishi',
 201: 'Mitsubishi',
 202: 'GMC',
 203: 'Mitsubishi',
 204: 'Mitsubishi',
 205: 'Mitsubishi',
 206: 'Mitsubishi',
 207: 'Mitsubishi',
 208: 'Mitsubishi',
 209: 'Mitsubishi',
 210: 'Mitsubishi',
 211: 'Mitsubishi',
 212: 'Oldsmobile',
 213: 'GMC',
 214: 'Oldsmobile',
 215: 'Oldsmobile',
 216: 'Mitsubishi',
 217: 'Plymouth',
 218: 'Plymouth',
 219: 'Plymouth',
 220: 'Plymouth',
 221: 'Plymouth',
 222: 'Plymouth',
 223: 'Plymouth',
 224: 'Dodge',
 225: 'GMC',
 226: 'Plymouth',
 227: 'Toyota',
 228: 'Toyota',
 229: 'Volkswagen',
 230: 'Volkswagen',
 231: 'Volkswagen',
 232: 'Volkswagen',
 233: 'Volvo',
 234: 'Volvo',
 235: 'Volvo',
 236: 'GMC',
 237: 'Volvo',
 238: 'Volvo',
 239: 'Buick',
 240: 'Chevrolet',
 241: 'Chevrolet',
 242: 'Chevrolet',
 243: 'Chevrolet',
 244: 'Chevrolet',
 245: 'Chevrolet',
 246: 'Chevrolet',
 247: 'GMC',
 248: 'Nissan',
 249: 'Nissan',
 250: 'Nissan',
 251: 'Dodge',
 252: 'Dodge',
 253: 'GMC',
 254: 'GMC',
 255: 'GMC',
 256: 'GMC',
 257: 'GMC',
 258: 'GMC',
 259: 'GMC',
 260: 'Isuzu',
 261: 'Isuzu',
 262: 'Isuzu',
 263: 'Mitsubishi',
 264: 'Mitsubishi',
 265: 'Chevrolet',
 266: 'Chevrolet',
 267: 'Chevrolet',
 268: 'Chevrolet',
 269: 'GMC',
 270: 'Chevrolet',
 271: 'Chevrolet',
 272: 'Chevrolet',
 273: 'Chevrolet',
 274: 'Chevrolet',
 275: 'Chevrolet',
 276: 'Chevrolet',
 277: 'Chevrolet',
 278: 'Chevrolet',
 279: 'Chevrolet',
 280: 'GMC',
 281: 'Chevrolet',
 282: 'Chevrolet',
 283: 'Chevrolet',
 284: 'Chevrolet',
 285: 'Dodge',
 286: 'Dodge',
 287: 'Dodge',
 288: 'Dodge',
 289: 'Dodge',
 290: 'Dodge',
 291: 'GMC',
 292: 'Dodge',
 293: 'Dodge',
 294: 'Dodge',
 295: 'Dodge',
 296: 'Dodge',
 297: 'Dodge',
 298: 'Dodge',
 299: 'Dodge',
 300: 'Dodge',
 301: 'Dodge',
 302: 'GMC',
 303: 'Dodge',
 304: 'Jeep',
 305: 'Jeep',
 306: 'Jeep',
 307: 'Jeep',
 308: 'Ford',
 309: 'Ford',
 310: 'Ford',
 311: 'Ford',
 312: 'Ford',
 313: 'Toyota',
 314: 'Ford',
 315: 'Ford',
 316: 'Ford',
 317: 'Ford',
 318: 'Ford',
 319: 'Ford',
 320: 'Ford',
 321: 'Ford',
 322: 'Ford',
 323: 'Ford',
 324: 'Toyota',
 325: 'Ford',
 326: 'Ford',
 327: 'Ford',
 328: 'Ford',
 329: 'Ford',
 330: 'Ford',
 331: 'GMC',
 332: 'GMC',
 333: 'GMC',
 334: 'GMC',
 335: 'Dodge',
 336: 'Volkswagen',
 337: 'GMC',
 338: 'GMC',
 339: 'GMC',
 340: 'GMC',
 341: 'GMC',
 342: 'GMC',
 343: 'GMC',
 344: 'GMC',
 345: 'GMC',
 346: 'GMC',
 347: 'Volkswagen',
 348: 'GMC',
 349: 'GMC',
 350: 'GMC',
 351: 'Mazda',
 352: 'Mazda',
 353: 'Mazda',
 354: 'Mazda',
 355: 'Mazda',
 356: 'Mazda',
 357: 'Toyota',
 358: 'AM General',
 359: 'Toyota',
 360: 'Toyota',
 361: 'Toyota',
 362: 'Toyota',
 363: 'Chevrolet',
 364: 'Chevrolet',
 365: 'Chevrolet',
 366: 'Chevrolet',
 367: 'Chevrolet',
 368: 'Chevrolet',
 369: 'AM General',
 370: 'Chevrolet',
 371: 'Chevrolet',
 372: 'Chevrolet',
 373: 'Chevrolet',
 374: 'Chevrolet',
 375: 'Chevrolet',
 376: 'Chevrolet',
 377: 'Chevrolet',
 378: 'Chevrolet',
 379: 'Chevrolet',
 380: 'Chevrolet',
 381: 'Chevrolet',
 382: 'Chevrolet',
 383: 'Chevrolet',
 384: 'Chevrolet',
 385: 'Nissan',
 386: 'Nissan',
 387: 'Nissan',
 388: 'Dodge',
 389: 'Dodge',
 390: 'Dodge',
 391: 'Chevrolet',
 392: 'Dodge',
 393: 'Dodge',
 394: 'Dodge',
 395: 'Dodge',
 396: 'Dodge',
 397: 'Dodge',
 398: 'Dodge',
 399: 'Dodge',
 400: 'Dodge',
 401: 'Dodge',
 402: 'Chevrolet',
 403: 'Dodge',
 404: 'Dodge',
 405: 'Jeep',
 406: 'Jeep',
 407: 'Jeep',
 408: 'Jeep',
 409: 'Ford',
 410: 'Ford',
 411: 'Ford',
 412: 'Ford',
 413: 'Chevrolet',
 414: 'Ford',
 415: 'Ford',
 416: 'Ford',
 417: 'Ford',
 418: 'Ford',
 419: 'Ford',
 420: 'Ford',
 421: 'Ford',
 422: 'Ford',
 423: 'GMC',
 424: 'Chevrolet',
 425: 'GMC',
 426: 'GMC',
 427: 'GMC',
 428: 'GMC',
 429: 'GMC',
 430: 'GMC',
 431: 'GMC',
 432: 'GMC',
 433: 'GMC',
 434: 'GMC',
 435: 'Chevrolet',
 436: 'GMC',
 437: 'GMC',
 438: 'GMC',
 439: 'GMC',
 440: 'GMC',
 441: 'GMC',
 442: 'GMC',
 443: 'GMC',
 444: 'GMC',
 445: 'GMC',
 446: 'Dodge',
 447: 'Chevrolet',
 448: 'Isuzu',
 449: 'Isuzu',
 450: 'Mitsubishi',
 451: 'Mitsubishi',
 452: 'Mitsubishi',
 453: 'Mazda',
 454: 'Mazda',
 455: 'Toyota',
 456: 'Toyota',
 457: 'Toyota',
 458: 'Chevrolet',
 459: 'Toyota',
 460: 'Toyota',
 461: 'Chevrolet',
 462: 'Chevrolet',
 463: 'Chevrolet',
 464: 'Chevrolet',
 465: 'Chevrolet',
 466: 'Chevrolet',
 467: 'Chevrolet',
 468: 'Chevrolet',
 469: 'Chevrolet',
 470: 'Dodge',
 471: 'Dodge',
 472: 'Dodge',
 473: 'Dodge',
 474: 'Dodge',
 475: 'Dodge',
 476: 'Dodge',
 477: 'Dodge',
 478: 'Dodge',
 479: 'Ford',
 480: 'Dodge',
 481: 'Ford',
 482: 'Ford',
 483: 'Ford',
 484: 'Ford',
 485: 'Ford',
 486: 'Ford',
 487: 'Ford',
 488: 'Ford',
 489: 'Ford',
 490: 'Ford',
 491: 'Dodge',
 492: 'Ford',
 493: 'GMC',
 494: 'GMC',
 495: 'GMC',
 496: 'GMC',
 497: 'GMC',
 498: 'GMC',
 499: 'GMC',
 500: 'GMC',
 501: 'Chevrolet',
 502: 'Dodge',
 503: 'Chevrolet',
 504: 'Chevrolet',
 505: 'Chevrolet',
 506: 'Chevrolet',
 507: 'Chevrolet',
 508: 'Chevrolet',
 509: 'Dodge',
 510: 'Dodge',
 511: 'Dodge',
 512: 'Dodge',
 513: 'Dodge',
 514: 'Dodge',
 515: 'Dodge',
 516: 'Dodge',
 517: 'Dodge',
 518: 'Ford',
 519: 'Ford',
 520: 'Ford',
 521: 'Ford',
 522: 'Ford',
 523: 'Ford',
 524: 'Dodge',
 525: 'Ford',
 526: 'Ford',
 527: 'GMC',
 528: 'GMC',
 529: 'GMC',
 530: 'GMC',
 531: 'GMC',
 532: 'GMC',
 533: 'GMC',
 534: 'Toyota',
 535: 'Dodge',
 536: 'Toyota',
 537: 'Toyota',
 538: 'Volkswagen',
 539: 'Volkswagen',
 540: 'Chevrolet',
 541: 'Chevrolet',
 542: 'Chevrolet',
 543: 'Chevrolet',
 544: 'Chevrolet',
 545: 'Nissan',
 546: 'Dodge',
 547: 'Nissan',
 548: 'Nissan',
 549: 'Chrysler',
 550: 'Dodge',
 551: 'Dodge',
 552: 'Dodge',
 553: 'Dodge',
 554: 'Dodge',
 555: 'Dodge',
 556: 'Dodge',
 557: 'Dodge',
 558: 'Dodge',
 559: 'Dodge',
 560: 'Dodge',
 561: 'Dodge',
 562: 'Jeep',
 563: 'Jeep',
 564: 'Jeep',
 565: 'Ford',
 566: 'Ford',
 567: 'Mercury',
 568: 'Mercury',
 569: 'Dodge',
 570: 'Geo',
 571: 'Geo',
 572: 'GMC',
 573: 'GMC',
 574: 'GMC',
 575: 'Isuzu',
 576: 'Isuzu',
 577: 'Isuzu',
 578: 'Isuzu',
 579: 'Mazda',
 580: 'Dodge',
 581: 'Mazda',
 582: 'Pontiac',
 583: 'Pontiac',
 584: 'Plymouth',
 585: 'Plymouth',
 586: 'Plymouth',
 587: 'Plymouth',
 588: 'Suzuki',
 589: 'Suzuki',
 590: 'Suzuki',
 591: 'Dodge',
 592: 'Suzuki',
 593: 'Suzuki',
 594: 'Oldsmobile',
 595: 'Oldsmobile',
 596: 'Toyota',
 597: 'Chevrolet',
 598: 'Chevrolet',
 599: 'Chevrolet',
 600: 'Chevrolet',
 601: 'Chevrolet',
 602: 'E. P. Dutton, Inc.',
 603: 'Nissan',
 604: 'Nissan',
 605: 'Chrysler',
 606: 'Dodge',
 607: 'Dodge',
 608: 'Dodge',
 609: 'Jeep',
 610: 'Jeep',
 611: 'Jeep',
 612: 'Jeep',
 613: 'GMC',
 614: 'Jeep',
 615: 'Jeep',
 616: 'Jeep',
 617: 'Jeep',
 618: 'Jeep',
 619: 'Jeep',
 620: 'Jeep',
 621: 'Ford',
 622: 'Ford',
 623: 'Ford',
 624: 'GMC',
 625: 'Ford',
 626: 'Ford',
 627: 'Geo',
 628: 'Geo',
 629: 'Geo',
 630: 'Geo',
 631: 'GMC',
 632: 'GMC',
 633: 'GMC',
 634: 'GMC',
 635: 'GMC',
 636: 'GMC',
 637: 'Isuzu',
 638: 'Isuzu',
 639: 'Isuzu',
 640: 'Isuzu',
 641: 'Isuzu',
 642: 'Land Rover',
 643: 'Land Rover',
 644: 'Land Rover',
 645: 'Mitsubishi',
 646: 'GMC',
 647: 'Mitsubishi',
 648: 'Mazda',
 649: 'Mazda',
 650: 'Mazda',
 651: 'Mazda',
 652: 'Mazda',
 653: 'PAS, Inc',
 654: 'Plymouth',
 655: 'Subaru',
 656: 'Subaru',
 657: 'GMC',
 658: 'Subaru',
 659: 'Subaru',
 660: 'Suzuki',
 661: 'Suzuki',
 662: 'Suzuki',
 663: 'Suzuki',
 664: 'Suzuki',
 665: 'Suzuki',
 666: 'Suzuki',
 667: 'Suzuki',
 668: 'Dodge',
 669: 'GMC',
 670: 'Suzuki',
 671: 'Oldsmobile',
 672: 'Toyota',
 673: 'Toyota',
 674: 'Toyota',
 675: 'Toyota',
 676: 'Toyota',
 677: 'Cadillac',
 678: 'Chevrolet',
 679: 'Chevrolet',
 680: 'GMC',
 681: 'Dodge',
 682: 'Dodge',
 683: 'Dodge',
 684: 'Dodge',
 685: 'Buick',
 686: 'Toyota',
 687: 'Toyota',
 688: 'Acura',
 689: 'Acura',
 690: 'Alfa Romeo',
 691: 'GMC',
 692: 'Chevrolet',
 693: 'Chevrolet',
 694: 'Chevrolet',
 695: 'Nissan',
 696: 'Nissan',
 697: 'Nissan',
 698: 'Nissan',
 699: 'Dodge',
 700: 'Ferrari',
 701: 'Ferrari',
 702: 'GMC',
 703: 'Ferrari',
 704: 'Honda',
 705: 'Honda',
 706: 'Honda',
 707: 'Honda',
 708: 'Honda',
 709: 'Jaguar',
 710: 'Lotus',
 711: 'Mazda',
 712: 'Mazda',
 713: 'Grumman Olson',
 714: 'Mazda',
 715: 'Mazda',
 716: 'Mercedes-Benz',
 717: 'Mercedes-Benz',
 718: 'Mercedes-Benz',
 719: 'Porsche',
 720: 'Porsche',
 721: 'Porsche',
 722: 'Porsche',
 723: 'Porsche',
 724: 'Grumman Olson',
 725: 'Toyota',
 726: 'Toyota',
 727: 'Toyota',
 728: 'Audi',
 729: 'BMW',
 730: 'BMW',
 731: 'BMW',
 732: 'BMW',
 733: 'Mercury',
 734: 'Mercury',
 735: 'Jeep',
 736: 'Mercury',
 737: 'Mercedes-Benz',
 738: 'Porsche',
 739: 'Porsche',
 740: 'Porsche',
 741: 'Porsche',
 742: 'Porsche',
 743: 'Porsche',
 744: 'Porsche',
 745: 'Porsche',
 746: 'Jeep',
 747: 'Toyota',
 748: 'Toyota',
 749: 'Toyota',
 750: 'Toyota',
 751: 'Toyota',
 752: 'Toyota',
 753: 'Acura',
 754: 'Acura',
 755: 'Acura',
 756: 'Audi',
 757: 'Jeep',
 758: 'BMW',
 759: 'BMW',
 760: 'BMW',
 761: 'BMW',
 762: 'BMW',
 763: 'BMW',
 764: 'BMW',
 765: 'BMW',
 766: 'Chevrolet',
 767: 'Chevrolet',
 768: 'Jeep',
 769: 'Chevrolet',
 770: 'Chevrolet',
 771: 'Chevrolet',
 772: 'Chevrolet',
 773: 'Chevrolet',
 774: 'Chevrolet',
 775: 'Chevrolet',
 776: 'Chevrolet',
 777: 'Chrysler',
 778: 'Nissan',
 779: 'Dodge',
 780: 'Jeep',
 781: 'Nissan',
 782: 'Nissan',
 783: 'Nissan',
 784: 'Nissan',
 785: 'Nissan',
 786: 'Dodge',
 787: 'Dodge',
 788: 'Dodge',
 789: 'Dodge',
 790: 'Dodge',
 791: 'Jeep',
 792: 'Dodge',
 793: 'Dodge',
 794: 'Dodge',
 795: 'Dodge',
 796: 'Eagle',
 797: 'Eagle',
 798: 'Eagle',
 799: 'Eagle',
 800: 'Eagle',
 801: 'Eagle',
 802: 'Plymouth',
 803: 'Eagle',
 804: 'Eagle',
 805: 'Eagle',
 806: 'Eagle',
 807: 'Eagle',
 808: 'Eagle',
 809: 'Ferrari',
 810: 'Ferrari',
 811: 'Ford',
 812: 'Ford',
 813: 'Plymouth',
 814: 'Ford',
 815: 'Ford',
 816: 'Ford',
 817: 'Ford',
 818: 'Ford',
 819: 'Ford',
 820: 'Ford',
 821: 'Ford',
 822: 'Geo',
 823: 'Geo',
 824: 'Plymouth',
 825: 'Geo',
 826: 'Honda',
 827: 'Honda',
 828: 'Honda',
 829: 'Honda',
 830: 'Honda',
 831: 'Honda',
 832: 'Honda',
 833: 'Honda',
 834: 'Honda',
 835: 'Plymouth',
 836: 'Honda',
 837: 'Honda',
 838: 'Honda',
 839: 'Honda',
 840: 'Hyundai',
 841: 'Hyundai',
 842: 'Hyundai',
 843: 'Hyundai',
 844: 'Hyundai',
 845: 'Infiniti',
 846: 'Plymouth',
 847: 'Jaguar',
 848: 'Jaguar',
 849: 'Jaguar',
 850: 'Lexus',
 851: 'Lexus',
 852: 'Lexus',
 853: 'Mazda',
 854: 'Mazda',
 855: 'Mazda',
 856: 'Mazda',
 857: 'American Motors Corporation',
 858: 'Mazda',
 859: 'Mazda',
 860: 'Mazda',
 861: 'Mazda',
 862: 'Mercedes-Benz',
 863: 'Mitsubishi',
 864: 'Mitsubishi',
 865: 'Mitsubishi',
 866: 'Mitsubishi',
 867: 'Mitsubishi',
 868: 'American Motors Corporation',
 869: 'Mitsubishi',
 870: 'Mitsubishi',
 871: 'Mitsubishi',
 872: 'Mitsubishi',
 873: 'Mitsubishi',
 874: 'Mitsubishi',
 875: 'Mitsubishi',
 876: 'Mitsubishi',
 877: 'Mitsubishi',
 878: 'Mitsubishi',
 879: 'Chevrolet',
 880: 'Plymouth',
 881: 'Plymouth',
 882: 'Plymouth',
 883: 'Plymouth',
 884: 'Plymouth',
 885: 'Plymouth',
 886: 'Plymouth',
 887: 'Plymouth',
 888: 'Plymouth',
 889: 'Plymouth',
 890: 'Dodge',
 891: 'Chevrolet',
 892: 'Plymouth',
 893: 'Plymouth',
 894: 'Pontiac',
 895: 'Pontiac',
 896: 'Pontiac',
 897: 'Pontiac',
 898: 'Pontiac',
 899: 'Pontiac',
 900: 'Pontiac',
 901: 'Pontiac',
 902: 'Chevrolet',
 903: 'Pontiac',
 904: 'Pontiac',
 905: 'Rolls-Royce',
 906: 'Rolls-Royce',
 907: 'Saab',
 908: 'Saab',
 909: 'Saab',
 910: 'Saab',
 911: 'Saab',
 912: 'Saturn',
 913: 'Chevrolet',
 914: 'Saturn',
 915: 'Saturn',
 916: 'Saturn',
 917: 'Subaru',
 918: 'Subaru',
 919: 'Subaru',
 920: 'Subaru',
 921: 'Subaru',
 922: 'Subaru',
 923: 'Subaru',
 924: 'Chevrolet',
 925: 'Subaru',
 926: 'Suzuki',
 927: 'Suzuki',
 928: 'Suzuki',
 929: 'Toyota',
 930: 'Toyota',
 931: 'Toyota',
 932: 'Toyota',
 933: 'Toyota',
 934: 'Toyota',
 935: 'Chevrolet',
 936: 'Toyota',
 937: 'Volkswagen',
 938: 'Volkswagen',
 939: 'Acura',
 940: 'Acura',
 941: 'Acura',
 942: 'Acura',
 943: 'Acura',
 944: 'Acura',
 945: 'Alfa Romeo',
 946: 'Chevrolet',
 947: 'Alfa Romeo',
 948: 'Audi',
 949: 'Audi',
 950: 'Audi',
 951: 'Audi',
 952: 'Audi',
 953: 'Audi',
 954: 'Audi',
 955: 'Audi',
 956: 'BMW',
 957: 'Chevrolet',
 958: 'BMW',
 959: 'BMW',
 960: 'BMW',
 961: 'BMW',
 962: 'BMW',
 963: 'BMW',
 964: 'Buick',
 965: 'Buick',
 966: 'Buick',
 967: 'Chevrolet',
 968: 'Chevrolet',
 969: 'Chevrolet',
 970: 'Chevrolet',
 971: 'Chevrolet',
 972: 'Chevrolet',
 973: 'Chevrolet',
 974: 'Chevrolet',
 975: 'Chevrolet',
 976: 'Chevrolet',
 977: 'Chrysler',
 978: 'Chrysler',
 979: 'Chevrolet',
 980: 'Chrysler',
 981: 'Nissan',
 982: 'Nissan',
 983: 'Dodge',
 984: 'Dodge',
 985: 'Dodge',
 986: 'Dodge',
 987: 'Dodge',
 988: 'Dodge',
 989: 'Ford',
 990: 'Chevrolet',
 991: 'Ford',
 992: 'Ford',
 993: 'Ford',
 994: 'Ford',
 995: 'Ford',
 996: 'Ford',
 997: 'Ford',
 998: 'Geo',
 999: 'Geo',
 ...}

In [205]:
city_mpg

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [206]:
# city2 = city_mpg.rename(make.to_dict())
city2 = city_mpg.rename(make)
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [207]:
city2.index

Index(['Alfa Romeo', 'Ferrari', 'Dodge', 'Dodge', 'Subaru', 'Subaru', 'Subaru',
       'Toyota', 'Toyota', 'Toyota',
       ...
       'Saab', 'Saturn', 'Saturn', 'Saturn', 'Saturn', 'Subaru', 'Subaru',
       'Subaru', 'Subaru', 'Subaru'],
      dtype='object', length=41144)

In [208]:
# city2.reset_index()
city2.reset_index(drop=True)

0        19
1         9
2        23
3        10
4        17
         ..
41139    19
41140    20
41141    18
41142    18
41143    16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [209]:
city2.loc['Subaru']

Subaru    17
Subaru    21
Subaru    22
Subaru    19
Subaru    20
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 885, dtype: int64[pyarrow]

In [210]:
# city2.loc['Fisker']
city2.loc[['Fisker']]

Fisker    20
Name: city08, dtype: int64[pyarrow]

In [211]:
city2.loc[['Ferrari', 'Lamborghini']]

Ferrari         9
Ferrari        12
Ferrari        11
Ferrari        10
Ferrari        11
               ..
Lamborghini     6
Lamborghini     8
Lamborghini     8
Lamborghini     8
Lamborghini     8
Name: city08, Length: 357, dtype: int64[pyarrow]

In [212]:
# city2.loc['Ferrari':'Lamborghini'] # need to sort first
city2.sort_index().loc['Ferrari':'Lamborghini']

Ferrari        10
Ferrari        13
Ferrari        13
Ferrari         9
Ferrari        10
               ..
Lamborghini    12
Lamborghini     9
Lamborghini     8
Lamborghini    13
Lamborghini     8
Name: city08, Length: 11210, dtype: int64[pyarrow]

In [213]:
city2.sort_index().loc['F':'J']

Federal Coach    15
Federal Coach    13
Federal Coach    13
Federal Coach    14
Federal Coach    13
                 ..
Isuzu            15
Isuzu            15
Isuzu            15
Isuzu            27
Isuzu            18
Name: city08, Length: 9040, dtype: int64[pyarrow]

In [214]:
idx = pd.Index(['Dodge'])
city2.loc[idx]

Dodge    23
Dodge    10
Dodge    12
Dodge    11
Dodge    11
         ..
Dodge    18
Dodge    17
Dodge    14
Dodge    14
Dodge    11
Name: city08, Length: 2583, dtype: int64[pyarrow]

In [215]:
mask = city2 > 50
mask

Alfa Romeo    False
Ferrari       False
Dodge         False
Dodge         False
Subaru        False
              ...
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Subaru        False
Name: city08, Length: 41144, dtype: bool[pyarrow]

In [216]:
city2.loc[mask]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64[pyarrow]

In [217]:
cost = pd.Series([1.00, 2.25, 3.99, 0.99, 2.79], index=['Gum', 'Cookie', 'Melon', 'Roll', 'Carrots'])
inflation = 1.10
cost.mul(inflation).loc[lambda s_: s_ > 3]

Melon      4.389
Carrots    3.069
dtype: float64

In [218]:
city2

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
              ..
Subaru        19
Subaru        20
Subaru        18
Subaru        18
Subaru        16
Name: city08, Length: 41144, dtype: int64[pyarrow]

In [219]:
city2.iloc[0]

19

In [220]:
city2.sort_index().iloc[0]

13

In [221]:
city2.sort_values().iloc[0]

6

In [222]:
city2.iloc[-1]

16

In [223]:
city2.iloc[0:5]

Alfa Romeo    19
Ferrari        9
Dodge         23
Dodge         10
Subaru        17
Name: city08, dtype: int64[pyarrow]

In [224]:
mask =  city2 > 50
# city2.iloc[mask] # this will fail
city2.iloc[mask.to_numpy()]
city2.iloc[list(mask)]

Nissan     81
Toyota     81
Toyota     81
Ford       74
Nissan     84
         ...
Tesla     140
Tesla     115
Tesla     104
Tesla      98
Toyota     55
Name: city08, Length: 236, dtype: int64[pyarrow]

In [225]:
city2.sample(6, random_state=42)

Volvo         16
Mitsubishi    19
Buick         27
Jeep          15
Land Rover    13
Saab          17
Name: city08, dtype: int64[pyarrow]

In [226]:
# city2.filter(items=['Ford', 'Subaru']) # fails because index is duplicated

In [227]:
city2.filter(like='rd')

Ford    18
Ford    16
Ford    17
Ford    17
Ford    15
        ..
Ford    26
Ford    19
Ford    21
Ford    18
Ford    19
Name: city08, Length: 3371, dtype: int64[pyarrow]

In [228]:
city2.filter(regex='(Ford)|(Subaru)')

Subaru    17
Subaru    21
Subaru    22
Ford      18
Ford      16
          ..
Subaru    19
Subaru    20
Subaru    18
Subaru    18
Subaru    16
Name: city08, Length: 4256, dtype: int64[pyarrow]

In [229]:
city_mpg.reindex([0, 0, 10, 20, 2_000_000])

0            19
0            19
10           23
20           14
2000000    <NA>
Name: city08, dtype: int64[pyarrow]

In [230]:
s1 = pd.Series([10, 20, 30], index=['a', 'b', 'c'])
s2 = pd.Series([15, 25, 35], index=['b', 'c', 'd'])

s2

b    15
c    25
d    35
dtype: int64

In [231]:
s2.reindex(s1.index)

a     NaN
b    15.0
c    25.0
dtype: float64

In [232]:
import pyarrow as pa

string_pa = pd.ArrowDtype(pa.string())
age = pd.Series(['0-10', '11-15', '11-15', '61-65', '46-50'], dtype=string_pa)
age

0     0-10
1    11-15
2    11-15
3    61-65
4    46-50
dtype: string[pyarrow]

In [233]:
age_split = (age
 .str.split('-', expand=True)
 .astype('int8[pyarrow]'))

age_split

    0   1
0   0  10
1  11  15
2  11  15
3  61  65
4  46  50

In [234]:
age_split.mean(axis=1)

0     5.0
1    13.0
2    13.0
3    63.0
4    48.0
dtype: double[pyarrow]