## Chapter 14 - Date and Time Manipulation

In [1]:
import pandas as pd


col = pd.Series([
    '2015-03-08 08:00:00+00:00',
    '2015-03-08 08:30:00+00:00',
    '2015-03-08 09:00:00+00:00',
    '2015-03-08 09:30:00+00:00',
    '2015-11-01 06:30:00+00:00',
    '2015-11-01 07:00:00+00:00',
    '2015-11-01 07:30:00+00:00',
    '2015-11-01 08:00:00+00:00',
    '2015-11-01 08:30:00+00:00',
    '2015-11-01 08:00:00+00:00',
    '2015-11-01 08:30:00+00:00',
    '2015-11-01 09:00:00+00:00',
    '2015-11-01 09:30:00+00:00',
    '2015-11-01 10:00:00+00:00',
])

utc_s = pd.to_datetime(col, utc=True)
utc_s

0    2015-03-08 08:00:00+00:00
1    2015-03-08 08:30:00+00:00
2    2015-03-08 09:00:00+00:00
3    2015-03-08 09:30:00+00:00
4    2015-11-01 06:30:00+00:00
5    2015-11-01 07:00:00+00:00
6    2015-11-01 07:30:00+00:00
7    2015-11-01 08:00:00+00:00
8    2015-11-01 08:30:00+00:00
9    2015-11-01 08:00:00+00:00
10   2015-11-01 08:30:00+00:00
11   2015-11-01 09:00:00+00:00
12   2015-11-01 09:30:00+00:00
13   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

In [2]:
utc_s.dt.tz_convert('America/Denver')

0    2015-03-08 01:00:00-07:00
1    2015-03-08 01:30:00-07:00
2    2015-03-08 03:00:00-06:00
3    2015-03-08 03:30:00-06:00
4    2015-11-01 00:30:00-06:00
5    2015-11-01 01:00:00-06:00
6    2015-11-01 01:30:00-06:00
7    2015-11-01 01:00:00-07:00
8    2015-11-01 01:30:00-07:00
9    2015-11-01 01:00:00-07:00
10   2015-11-01 01:30:00-07:00
11   2015-11-01 02:00:00-07:00
12   2015-11-01 02:30:00-07:00
13   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [3]:
s = pd.Series([
    '2015-03-08 01:30:00-07:00',
    '2015-03-08 03:00:00-06:00',
    '2015-03-08 03:30:00-06:00',
    '2015-11-01 00:30:00-06:00',
    '2015-11-01 01:00:00-06:00',
    '2015-11-01 01:30:00-06:00',
    '2015-11-01 01:00:00-07:00',
    '2015-11-01 01:30:00-07:00',
    '2015-11-01 01:00:00-07:00',
    '2015-11-01 01:30:00-07:00',
    '2015-11-01 02:00:00-07:00',
    '2015-11-01 02:30:00-07:00',
    '2015-11-01 03:00:00-07:00'
])

pd.to_datetime(s, utc=True).dt.tz_convert('America/Denver')

0    2015-03-08 01:30:00-07:00
1    2015-03-08 03:00:00-06:00
2    2015-03-08 03:30:00-06:00
3    2015-11-01 00:30:00-06:00
4    2015-11-01 01:00:00-06:00
5    2015-11-01 01:30:00-06:00
6    2015-11-01 01:00:00-07:00
7    2015-11-01 01:30:00-07:00
8    2015-11-01 01:00:00-07:00
9    2015-11-01 01:30:00-07:00
10   2015-11-01 02:00:00-07:00
11   2015-11-01 02:30:00-07:00
12   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [4]:
time = pd.Series([
    '2015-03-08 01:30:00',
    '2015-03-08 03:00:00',
    '2015-03-08 03:30:00',
    '2015-11-01 00:30:00',
    '2015-11-01 01:00:00',
    '2015-11-01 01:30:00',
    '2015-11-01 01:00:00',
    '2015-11-01 01:30:00',
    '2015-11-01 01:00:00',
    '2015-11-01 01:30:00',
    '2015-11-01 02:00:00',
    '2015-11-01 02:30:00',
    '2015-11-01 03:00:00'
])

offset = pd.Series([-7, -6, -6, -6, -6, -6, -7, -7, -7, -7, -7, -7, -7])
offset = offset.replace({-7: '-07:00', -6: '-06:00'})

In [5]:
local = (pd.to_datetime(time)
         .groupby(offset)
         .transform(lambda s: s.dt.tz_localize(s.name).dt.tz_convert('America/Denver')))
local

0    2015-03-08 01:30:00-07:00
1    2015-03-08 03:00:00-06:00
2    2015-03-08 03:30:00-06:00
3    2015-11-01 00:30:00-06:00
4    2015-11-01 01:00:00-06:00
5    2015-11-01 01:30:00-06:00
6    2015-11-01 01:00:00-07:00
7    2015-11-01 01:30:00-07:00
8    2015-11-01 01:00:00-07:00
9    2015-11-01 01:30:00-07:00
10   2015-11-01 02:00:00-07:00
11   2015-11-01 02:30:00-07:00
12   2015-11-01 03:00:00-07:00
dtype: datetime64[ns, America/Denver]

In [6]:
local.dt.tz_convert('UTC')

0    2015-03-08 08:30:00+00:00
1    2015-03-08 09:00:00+00:00
2    2015-03-08 09:30:00+00:00
3    2015-11-01 06:30:00+00:00
4    2015-11-01 07:00:00+00:00
5    2015-11-01 07:30:00+00:00
6    2015-11-01 08:00:00+00:00
7    2015-11-01 08:30:00+00:00
8    2015-11-01 08:00:00+00:00
9    2015-11-01 08:30:00+00:00
10   2015-11-01 09:00:00+00:00
11   2015-11-01 09:30:00+00:00
12   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

In [7]:
nano_secs = local.astype('int64[pyarrow]')
nano_secs

0     1425803400000000000
1     1425805200000000000
2     1425807000000000000
3     1446359400000000000
4     1446361200000000000
5     1446363000000000000
6     1446364800000000000
7     1446366600000000000
8     1446364800000000000
9     1446366600000000000
10    1446368400000000000
11    1446370200000000000
12    1446372000000000000
dtype: int64[pyarrow]

In [8]:
(pd.to_datetime(nano_secs, unit='ns')
 .dt.tz_localize('UTC'))

0    2015-03-08 08:30:00+00:00
1    2015-03-08 09:00:00+00:00
2    2015-03-08 09:30:00+00:00
3    2015-11-01 06:30:00+00:00
4    2015-11-01 07:00:00+00:00
5    2015-11-01 07:30:00+00:00
6    2015-11-01 08:00:00+00:00
7    2015-11-01 08:30:00+00:00
8    2015-11-01 08:00:00+00:00
9    2015-11-01 08:30:00+00:00
10   2015-11-01 09:00:00+00:00
11   2015-11-01 09:30:00+00:00
12   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

In [9]:
(nano_secs
 .truediv(1_000_000)
 .pipe(pd.to_datetime, unit='ms')
 .dt.tz_localize('UTC'))

0    2015-03-08 08:30:00+00:00
1    2015-03-08 09:00:00+00:00
2    2015-03-08 09:30:00+00:00
3    2015-11-01 06:30:00+00:00
4    2015-11-01 07:00:00+00:00
5    2015-11-01 07:30:00+00:00
6    2015-11-01 08:00:00+00:00
7    2015-11-01 08:30:00+00:00
8    2015-11-01 08:00:00+00:00
9    2015-11-01 08:30:00+00:00
10   2015-11-01 09:00:00+00:00
11   2015-11-01 09:30:00+00:00
12   2015-11-01 10:00:00+00:00
dtype: datetime64[ns, UTC]

In [10]:
url = 'https://github.com/mattharrison/datasets/raw/master/data/alta-noaa-1980-2019.csv'

# alta_df = pd.read_csv(url, dtype_backend='pyarrow', engine='pyarrow')
alta_df = pd.read_csv(url)
alta_df.dtypes

STATION       object
NAME          object
LATITUDE     float64
LONGITUDE    float64
ELEVATION    float64
DATE          object
DAPR         float64
DASF         float64
MDPR         float64
MDSF         float64
PRCP         float64
SNOW         float64
SNWD         float64
TMAX         float64
TMIN         float64
TOBS         float64
WT01         float64
WT03         float64
WT04         float64
WT05         float64
WT06         float64
WT11         float64
dtype: object

In [11]:
dates = (pd.to_datetime(alta_df['DATE'])
         .astype('timestamp[ns][pyarrow]'))
dates

0        1980-01-01 00:00:00
1        1980-01-02 00:00:00
2        1980-01-03 00:00:00
3        1980-01-04 00:00:00
4        1980-01-05 00:00:00
                ...
14155    2019-09-03 00:00:00
14156    2019-09-04 00:00:00
14157    2019-09-05 00:00:00
14158    2019-09-06 00:00:00
14159    2019-09-07 00:00:00
Name: DATE, Length: 14160, dtype: timestamp[ns][pyarrow]

In [12]:
dates.dt.day_name('es_ES')

0           martes
1        miércoles
2           jueves
3          viernes
4           sábado
           ...
14155       martes
14156    miércoles
14157       jueves
14158      viernes
14159       sábado
Name: DATE, Length: 14160, dtype: string[pyarrow]

In [13]:
dates.dt.is_month_end

0        False
1        False
2        False
3        False
4        False
         ...
14155    False
14156    False
14157    False
14158    False
14159    False
Name: DATE, Length: 14160, dtype: bool[pyarrow]

In [14]:
dates.dt.strftime('%d/%m/%y')

0        01/01/80
1        02/01/80
2        03/01/80
3        04/01/80
4        05/01/80
           ...
14155    03/09/19
14156    04/09/19
14157    05/09/19
14158    06/09/19
14159    07/09/19
Name: DATE, Length: 14160, dtype: string[pyarrow]

In [15]:
classes = ['cs106', 'cs150', 'hist205', 'hist206', 'hist207']
start_dates = (pd.Series([
        '2015-03-08',
        '2015-03-08',
        '2015-03-09',
        '2015-03-09',
        '2015-03-11'],
        dtype='datetime64[ns]',
        index=classes)
        .astype('timestamp[ns][pyarrow]'))
start_dates

cs106      2015-03-08 00:00:00
cs150      2015-03-08 00:00:00
hist205    2015-03-09 00:00:00
hist206    2015-03-09 00:00:00
hist207    2015-03-11 00:00:00
dtype: timestamp[ns][pyarrow]

In [16]:
end_dates = (pd.Series([
    '2015-05-28 23:59:59',
    '2015-06-01 03:00:00',
    '2015-06-03 00:00:00',
    '2015-06-02 14:20:00',
    '2015-06-01 00:00:00'],
    dtype='timestamp[ns][pyarrow]',
    index=classes))
end_dates

cs106      2015-05-28 23:59:59
cs150      2015-06-01 03:00:00
hist205    2015-06-03 00:00:00
hist206    2015-06-02 14:20:00
hist207    2015-06-01 00:00:00
dtype: timestamp[ns][pyarrow]

In [17]:
duration = (end_dates - start_dates)
duration

cs106      81 days 23:59:59
cs150      85 days 03:00:00
hist205    86 days 00:00:00
hist206    85 days 14:20:00
hist207    82 days 00:00:00
dtype: duration[ns][pyarrow]

In [18]:
duration.astype('timedelta64[ns]')

cs106     81 days 23:59:59
cs150     85 days 03:00:00
hist205   86 days 00:00:00
hist206   85 days 14:20:00
hist207   82 days 00:00:00
dtype: timedelta64[ns]

In [19]:
(duration
 .astype('timedelta64[ns]')
 .dt.total_seconds())

cs106      7084799.0
cs150      7354800.0
hist205    7430400.0
hist206    7395600.0
hist207    7084800.0
dtype: float64

In [20]:
(duration
 .astype('timedelta64[ns]')
 .dt.seconds)

cs106      86399
cs150      10800
hist205        0
hist206    51600
hist207        0
dtype: int32

In [21]:
(duration
 .astype('timedelta64[ns]')
 .dt.days)

cs106      81
cs150      85
hist205    86
hist206    85
hist207    82
dtype: int64

In [22]:
(duration
 .astype('timedelta64[ns]')
 .dt.components)

,days,hours,minutes,seconds,milliseconds,microseconds,nanoseconds
cs106,81,23,59,59,0,0,0
cs150,85,3,0,0,0,0,0
hist205,86,0,0,0,0,0,0
hist206,85,14,20,0,0,0,0
hist207,82,0,0,0,0,0,0

## Chapter 15 - Dates in the Index

In [58]:
import pandas as pd

url = 'https://github.com/mattharrison/datasets/raw/master/data/alta-noaa-1980-2019.csv'
alta_df = pd.read_csv(url, engine='pyarrow', dtype_backend='pyarrow')
dates = pd.to_datetime(alta_df.DATE)

In [59]:
alta_df

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,DAPR,DASF,MDPR,MDSF,...,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
0,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,1980-01-01,<NA>,<NA>,<NA>,<NA>,...,29.0,38,25,25,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
1,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,1980-01-02,<NA>,<NA>,<NA>,<NA>,...,34.0,27,18,18,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
2,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,1980-01-03,<NA>,<NA>,<NA>,<NA>,...,30.0,27,12,18,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
3,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,1980-01-04,<NA>,<NA>,<NA>,<NA>,...,30.0,31,18,27,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
4,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,1980-01-05,<NA>,<NA>,<NA>,<NA>,...,30.0,34,26,34,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14155,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,2019-09-03,<NA>,<NA>,<NA>,<NA>,...,0.0,74,57,73,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14156,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,2019-09-04,<NA>,<NA>,<NA>,<NA>,...,0.0,77,52,74,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14157,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,2019-09-05,<NA>,<NA>,<NA>,<NA>,...,0.0,76,54,65,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14158,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,2019-09-06,<NA>,<NA>,<NA>,<NA>,...,0.0,66,52,60,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>
14159,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,2019-09-07,<NA>,<NA>,<NA>,<NA>,...,0.0,68,45,64,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>

In [61]:
dates

0       1980-01-01
1       1980-01-02
2       1980-01-03
3       1980-01-04
4       1980-01-05
           ...
14155   2019-09-03
14156   2019-09-04
14157   2019-09-05
14158   2019-09-06
14159   2019-09-07
Name: DATE, Length: 14160, dtype: datetime64[ns]

In [62]:
snow = (alta_df
        .SNOW
        .rename(dates))
snow

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: double[pyarrow]

In [63]:
snow.isna().any()

True

In [64]:
snow[snow.isna()]

1985-07-30    <NA>
1985-09-12    <NA>
1985-09-19    <NA>
1986-02-07    <NA>
1986-06-26    <NA>
              ...
2017-04-26    <NA>
2017-09-20    <NA>
2017-10-02    <NA>
2017-12-23    <NA>
2018-12-03    <NA>
Name: SNOW, Length: 365, dtype: double[pyarrow]

In [65]:
snow.loc['1985-09':'1985-09-20']

1985-09-01     0.0
1985-09-02     0.0
1985-09-03     0.0
1985-09-04     0.0
1985-09-05     0.0
1985-09-06     0.0
1985-09-07     0.0
1985-09-08     0.0
1985-09-09     0.0
1985-09-10     0.0
1985-09-11     0.0
1985-09-12    <NA>
1985-09-13     0.0
1985-09-14     0.0
1985-09-15     0.0
1985-09-16     0.0
1985-09-17     0.0
1985-09-18     0.0
1985-09-19    <NA>
1985-09-20     0.0
Name: SNOW, dtype: double[pyarrow]

In [70]:
(snow
 .loc['1985-09':'1985-09-20']
 .fillna(0))

1985-09-01    0.0
1985-09-02    0.0
1985-09-03    0.0
1985-09-04    0.0
1985-09-05    0.0
1985-09-06    0.0
1985-09-07    0.0
1985-09-08    0.0
1985-09-09    0.0
1985-09-10    0.0
1985-09-11    0.0
1985-09-12    0.0
1985-09-13    0.0
1985-09-14    0.0
1985-09-15    0.0
1985-09-16    0.0
1985-09-17    0.0
1985-09-18    0.0
1985-09-19    0.0
1985-09-20    0.0
Name: SNOW, dtype: double[pyarrow]

In [54]:
snow.loc['1987-12-30':'1988-01-10']

1987-12-30     6.0
1987-12-31     5.0
1988-01-01    <NA>
1988-01-02     0.0
1988-01-03     0.0
1988-01-04    <NA>
1988-01-05     2.0
1988-01-06     6.0
1988-01-07     4.0
1988-01-08     9.0
1988-01-09     5.0
1988-01-10     2.0
Name: SNOW, dtype: double[pyarrow]

In [55]:
(snow
 .loc['1987-12-30':'1988-01-10']
 .ffill())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    5.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    0.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: double[pyarrow]

In [56]:
(snow
 .loc['1987-12-30':'1988-01-10']
 .bfill())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    0.0
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    2.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: double[pyarrow]

In [57]:
(snow
 .loc['1987-12-30':'1988-01-10']
 .interpolate())

1987-12-30    6.0
1987-12-31    5.0
1988-01-01    2.5
1988-01-02    0.0
1988-01-03    0.0
1988-01-04    1.0
1988-01-05    2.0
1988-01-06    6.0
1988-01-07    4.0
1988-01-08    9.0
1988-01-09    5.0
1988-01-10    2.0
Name: SNOW, dtype: double[pyarrow]

In [17]:
snow.index

DatetimeIndex(['1980-01-01', '1980-01-02', '1980-01-03', '1980-01-04',
               '1980-01-05', '1980-01-06', '1980-01-07', '1980-01-08',
               '1980-01-09', '1980-01-10',
               ...
               '2019-08-29', '2019-08-30', '2019-08-31', '2019-09-01',
               '2019-09-02', '2019-09-03', '2019-09-04', '2019-09-05',
               '2019-09-06', '2019-09-07'],
              dtype='datetime64[ns]', length=14160, freq=None)

In [19]:
winter = (snow.index.quarter == 1) | (snow.index.quarter == 4)
(snow
 .case_when([(winter & snow.isna(), snow.interpolate()),
            (~winter & snow.isna(), 0)]))

1980-01-01    2.0
1980-01-02    3.0
1980-01-03    1.0
1980-01-04    0.0
1980-01-05    0.0
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: double[pyarrow]

In [20]:
snow.loc[['1985-09-19', '1988-01-01']]

1985-09-19    <NA>
1988-01-01    <NA>
Name: SNOW, dtype: double[pyarrow]

In [21]:
(snow
 .case_when([(winter & snow.isna(), snow.interpolate()),
            (~winter & snow.isna(), 0)])
 .loc[['1985-09-19', '1988-01-01']])

1985-09-19    0.0
1988-01-01    2.5
Name: SNOW, dtype: double[pyarrow]

In [23]:
# create five day rolling average
(snow
 .add(snow.shift(1))
 .add(snow.shift(2))
 .add(snow.shift(3))
 .add(snow.shift(4))
 .div(5))

1980-01-01    <NA>
1980-01-02    <NA>
1980-01-03    <NA>
1980-01-04    <NA>
1980-01-05     1.2
              ...
2019-09-03     0.0
2019-09-04     0.0
2019-09-05     0.0
2019-09-06     0.0
2019-09-07     0.0
Name: SNOW, Length: 14160, dtype: double[pyarrow]

In [25]:
# create five day rolling average using .rolling
(snow
 .rolling(5)
 .mean())

1980-01-01    NaN
1980-01-02    NaN
1980-01-03    NaN
1980-01-04    NaN
1980-01-05    1.2
             ...
2019-09-03    0.0
2019-09-04    0.0
2019-09-05    0.0
2019-09-06    0.0
2019-09-07    0.0
Name: SNOW, Length: 14160, dtype: float64

In [26]:
(
    snow
    .resample('ME')
    .max()
)

1980-01-31    20.0
1980-02-29    25.0
1980-03-31    16.0
1980-04-30    10.0
1980-05-31     9.0
              ...
2019-05-31     5.1
2019-06-30     0.0
2019-07-31     0.0
2019-08-31     0.0
2019-09-30     0.0
Freq: ME, Name: SNOW, Length: 477, dtype: double[pyarrow]

In [28]:
(snow
 .resample('2ME')
 .max()
)

1980-01-31    20.0
1980-03-31    25.0
1980-05-31    10.0
1980-07-31     1.0
1980-09-30     0.0
              ...
2019-01-31    19.0
2019-03-31    20.7
2019-05-31    18.0
2019-07-31     0.0
2019-09-30     0.0
Freq: 2ME, Name: SNOW, Length: 239, dtype: double[pyarrow]

In [29]:
(snow
 .resample('YE-MAY')
 .max())

1980-05-31    25.0
1981-05-31    26.0
1982-05-31    34.0
1983-05-31    38.0
1984-05-31    25.0
1985-05-31    22.0
1986-05-31    34.0
1987-05-31    16.0
1988-05-31    23.0
1989-05-31    30.0
1990-05-31    32.0
1991-05-31    28.0
1992-05-31    22.0
1993-05-31    30.0
1994-05-31    36.0
1995-05-31    25.0
1996-05-31    34.0
1997-05-31    22.0
1998-05-31    29.0
1999-05-31    26.0
2000-05-31    23.0
2001-05-31    19.0
2002-05-31    28.0
2003-05-31    14.0
2004-05-31    24.0
2005-05-31    31.0
2006-05-31    27.0
2007-05-31    15.0
2008-05-31    21.0
2009-05-31    23.0
2010-05-31    32.0
2011-05-31    22.0
2012-05-31    18.0
2013-05-31    19.0
2014-05-31    11.0
2015-05-31    25.0
2016-05-31    15.0
2017-05-31    26.0
2018-05-31    21.8
2019-05-31    20.7
2020-05-31     0.0
Freq: YE-MAY, Name: SNOW, dtype: double[pyarrow]

In [122]:
import numpy as np

test = (snow
 .div(snow
      .resample('QE')
      .transform('sum'))
 .mul(100)
 .fillna(0)

 # three equivalent ways to handle NaN
#  .mask(lambda s: np.isnan(s), 0)
#  .where(lambda s: ~np.isnan(s), 0)
#  .case_when([(lambda s: np.isnan(s), 0)])
 
)

test

1980-01-01    0.527009
1980-01-02    0.790514
1980-01-03    0.263505
1980-01-04         0.0
1980-01-05         0.0
                ...
2019-09-03         NaN
2019-09-04         NaN
2019-09-05         NaN
2019-09-06         NaN
2019-09-07         NaN
Name: SNOW, Length: 14160, dtype: double[pyarrow]

In [123]:
season2017 = snow.loc['2016-10':'2017-05']
season2017

2016-10-01    0.0
2016-10-02    0.0
2016-10-03    4.9
2016-10-04    0.0
2016-10-05    0.6
             ...
2017-05-27    0.0
2017-05-28    0.0
2017-05-29    0.0
2017-05-30    0.0
2017-05-31    0.0
Name: SNOW, Length: 243, dtype: double[pyarrow]

In [126]:
(season2017
 .resample('ME')
 .sum()
 .div(season2017.sum())
 .mul(100))

2016-10-31     2.153969
2016-11-30     9.772637
2016-12-31    15.715995
2017-01-31    25.468688
2017-02-28    21.041085
2017-03-31     9.274033
2017-04-30    14.738732
2017-05-31     1.834862
Freq: ME, Name: SNOW, dtype: double[pyarrow]

In [140]:
def season(idx):
    year = idx.year
    month = idx.month
    if month < 10:
        return year
    else:
        return year + 1

(snow
 .groupby(season)
 .sum())

1980    457.5
1981    503.0
1982    842.5
1983    807.5
1984    816.0
1985    536.0
1986    740.8
1987    243.1
1988    314.5
1989    429.5
1990    331.5
1991    504.7
1992    340.8
1993    683.5
1994    321.0
1995    645.0
1996    525.5
1997    563.6
1998    579.6
1999    435.7
2000    453.0
2001    468.0
2002    457.8
2003    365.4
2004    514.0
2005    472.0
2006    594.6
2007    319.7
2008    606.0
2009    476.8
2010    391.0
2011    533.8
2012    293.5
2013    362.8
2014    358.7
2015    284.3
2016    354.6
2017    524.0
2018    308.8
2019    504.5
Name: SNOW, dtype: double[pyarrow]

In [141]:
def calc_pct(s):
    return s.div(s.sum()).mul(100)

(snow
 .resample('ME')
 .sum()
 .groupby(season)
 .apply(calc_pct))

1980  1980-01-31     31.47541
      1980-02-29    24.590164
      1980-03-31    26.885246
      1980-04-30     6.557377
      1980-05-31    10.273224
                      ...
2019  2019-05-31     5.153617
      2019-06-30          0.0
      2019-07-31          0.0
      2019-08-31          0.0
      2019-09-30          0.0
Name: SNOW, Length: 477, dtype: double[pyarrow]

In [142]:
(snow
 .resample('YE-SEP')
 .sum())

1980-09-30    457.5
1981-09-30    503.0
1982-09-30    842.5
1983-09-30    807.5
1984-09-30    816.0
1985-09-30    536.0
1986-09-30    740.8
1987-09-30    243.1
1988-09-30    314.5
1989-09-30    429.5
1990-09-30    331.5
1991-09-30    504.7
1992-09-30    340.8
1993-09-30    683.5
1994-09-30    321.0
1995-09-30    645.0
1996-09-30    525.5
1997-09-30    563.6
1998-09-30    579.6
1999-09-30    435.7
2000-09-30    453.0
2001-09-30    468.0
2002-09-30    457.8
2003-09-30    365.4
2004-09-30    514.0
2005-09-30    472.0
2006-09-30    594.6
2007-09-30    319.7
2008-09-30    606.0
2009-09-30    476.8
2010-09-30    391.0
2011-09-30    533.8
2012-09-30    293.5
2013-09-30    362.8
2014-09-30    358.7
2015-09-30    284.3
2016-09-30    354.6
2017-09-30    524.0
2018-09-30    308.8
2019-09-30    504.5
Freq: YE-SEP, Name: SNOW, dtype: double[pyarrow]

In [143]:
(snow
 .loc['2016-10':'2017-09']
 .cumsum())

2016-10-01      0.0
2016-10-02      0.0
2016-10-03      4.9
2016-10-04      4.9
2016-10-05      5.5
              ...
2017-09-26    524.0
2017-09-27    524.0
2017-09-28    524.0
2017-09-29    524.0
2017-09-30    524.0
Name: SNOW, Length: 364, dtype: double[pyarrow]

In [145]:
(snow
 .resample('YE-SEP')
 .transform('cumsum'))

1980-01-01      2.0
1980-01-02      5.0
1980-01-03      6.0
1980-01-04      6.0
1980-01-05      6.0
              ...
2019-09-03    504.5
2019-09-04    504.5
2019-09-05    504.5
2019-09-06    504.5
2019-09-07    504.5
Name: SNOW, Length: 14160, dtype: double[pyarrow]